/* project design scss */

	@charset "UTF-8";

/* scss file imports */

	/* custom local imports */

	@import "icon-fonts";
	@import "variables";

	/* default imports via local cssLibrary Project - found under: https://github.com/andrejandrej/cssLibrary */

	@import "../../../../../../projects/csslibrary/base/normalize";
	@import "../../../../../../projects/csslibrary/base/layout";
	@import "../../../../../../projects/csslibrary/base/lists";
	@import "../../../../../../projects/csslibrary/base/typography";
	@import "../../../../../../projects/csslibrary/base/links";

	@import "../../../../../../projects/csslibrary/elements/shadows";
	@import "../../../../../../projects/csslibrary/elements/blockquotes";
	@import "../../../../../../projects/csslibrary/elements/border-heading";
	@import "../../../../../../projects/csslibrary/elements/buttons";	
	@import "../../../../../../projects/csslibrary/elements/icons";
	@import "../../../../../../projects/csslibrary/elements/image-display";
	@import "../../../../../../projects/csslibrary/elements/indent-line";
	@import "../../../../../../projects/csslibrary/elements/info-text";
	@import "../../../../../../projects/csslibrary/elements/number-circle";
	@import "../../../../../../projects/csslibrary/elements/rounded-corners";
	
	@import "../../../../../../projects/csslibrary/elements/transitions";
	@import "../../../../../../projects/csslibrary/elements/triangles";

	@import "../../../../../../projects/csslibrary/blocks/nav";
	@import "../../../../../../projects/csslibrary/blocks/wizard";
	@import "../../../../../../projects/csslibrary/blocks/forms";

/* end imports */


/* custom desgin here  */

body {background:url(../img/bg-header.jpg) no-repeat 50% 40px, url(../img/bg-body.png) repeat-x 0 42px $bg-body;}

.special {color:#5bb75b;}

/* header */

	header {@extend .clear; font-family:"open Sans"; background:$primary;}	
	.header {@extend .container, .space-l-r;}
	.logo {color:$txt-bg; display:block; float:left; padding-top:6px; margin-right:64px; width:auto; }
	.logo span {position:relative; top: -0.17em; font-weight:100; font-size:3.2em; padding-left:0.1em;}
	.logo:hover {background:none;}	
	.logo img {padding-top:12px;}			

	.nav {float:left;}
	
/* end header */
		

/* content */
	
	.content {@extend .container; min-height:500px;}				

/* end content */

/* footer */
	
	footer {background:$primary; color:$txt-on-primary; min-height:200px; margin-top:4em;}
	footer a {color:$txt-on-primary;}
	.footer {@extend .container;}
	.ft1 {@extend .container;}

/* end footer */